v0.1.3/test2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://bmatsuo.github.io/deleteme/v0.1.3/test2"
           xmlns="https://bmatsuo.github.io/deleteme/v0.1.3/test2"
           elementFormDefault="qualified">

    <xs:element name="test" type="TEST"/>

    <xs:complexType name="TEST">
        <xs:sequence>
            <xs:element name="boom"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
